export(jzs_med)
export(jzs_medSD)
export(jzs_cor)
export(jzs_partcor)
export(jzs_corSD)
export(jzs_partcorSD)
S3method(print,jzs_med)
S3method(plot,JZSMed)
S3method(plot,rjags)
S3method(plot,CI)
import(R2jags)
import(QRM)
import(polspline) 
import(MCMCpack)